* {
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0%;
    padding: 2%;
    background-color: #EAC926;
    box-sizing: border-box;
}

.centrado {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%;
    margin: 0%
}

.titular {
    font-size: 24px;
    margin-left: 2.5%;
    color: #666;
}

.precio {
    font-size: 18px;
    display: flex;
    padding-right: 2%;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    display: flex;
}

.descripcion {
    font-size: 16px;
    color: #666;
    display: none;
}

section.foot {
    border-image-width: 10%;
}

.burguer-menu {
    width: 5%;
    background-color: #1259c3;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10%;
    height: 18px;
    align-items: center;
    padding: 1%;
}

.foot {
    text-align: center;
    padding: 10%
}

img {
    width: 100%;
    padding: 1px
}

main {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto {
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
}

.producto1 {
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    position: relative;
}

.icono {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.logo {
    width: 30%;
    display: block;
    margin-left: 5%;
}

.barra-navegacion {
    display: none
}

.barra-login {
    display: none
}

.precio-descuento {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icono-envio {
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0
}

.barra-busqueda1{
    width: 100%;
    border: none;
    margin: 0%;
    padding: 1%;
    border-radius: 5px;
}
.boton-busqueda{
    border: none;
    position: absolute;
    right: 6%;
    bottom: 20%;
}

.logo-barra {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

@media (min-width: 480px) {

    /*=== Tablets y vista horizontal en celulares===*/

    .descripcion {
        display: block;
    }

    .barra-navegacion {
        display: block
    }

    .barra-login {
        display: block
    }

    .burguer-menu {
        display: none
    }

    .precio {
        padding-right: 1%;
    }

    .producto {
        width: 40%;
    }

    .titular {
        width: 100%;
    }

    .productos-vista {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .productos-ofertas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo-barra-centrado {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .barra-busqueda{
        width: 65%;
    }
    .barra-busqueda1{
        width: 100%;
        border: none;
        margin-left: 3%;
        padding: 1%;
        border-radius: 5px;
    }
    .boton-busqueda{
        position: absolute;
        right: 1%;
        top:30%;
        border: none;
    }
    .logo{
        width: 25%;
        padding: 0;
        margin: 0;
    }

    .barras {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ul.barra-navegacion {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 40%;
        padding-left: 3%;
        text-decoration: none;
        align-items: flex-end;
    }

    ul.barra-login {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 45%;
        align-items: flex-end;
    }

    a {
        text-decoration: none;
        color: black
    }

    .titular {
        margin-left: 5%;
    }
}

@media (min-width: 769px) {

    /*=== Laptops, vista horizontal de tablets y computadoras de escritorio pequeñas===*/
    .descripcion {
        display: block;
    }

    .barra-navegacion {
        display: block
    }

    .barra-login {
        display: block
    }

    .burguer-menu {
        display: none
    }

    .precio {
        padding-right: 1%;
    }

    .producto {
        width: 20%;
    }

    .titular {
        width: 100%;
    }

    .productos-vista {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .productos-ofertas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .logo-barra-centrado {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .centrado{
        display: flex;
        justify-content: center;
        width: 30%;
    }
    .barra-busqueda{
        width: 65%;
    }
    .barra-busqueda1{
        width: 100%;
        border: none;
        margin-left: 3%;
        padding: 1%;
        border-radius: 5px;
    }
    .boton-busqueda{
        position: absolute;
        right: 1%;
        top:35%;
        border: none;
    }
    .logo{
        width: 25%;
        padding: 0;
        margin: 0;
    }
    .logo-barra{
        display: flex;
        justify-content: space-around;
        width: 70%;
        flex-wrap: wrap;
        text-align: center;
    }

    .barras {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ul.barra-navegacion {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 35%;
        padding-left: 3%;
        text-decoration: none;
    }

    ul.barra-login {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 40%;
    }

    a {
        text-decoration: none;
        color: black
    }

    .titular {
        margin-left: 3%;
    }
}