<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <img class="logo" src="/img/logo-mercado-liebre.svg">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Buscar productos, marcas..." />
        <button class="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <p class="centrado"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
        <ul class="barra-navegacion">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <br />
        <ul class="barra-login">
            <li><a href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="#">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h3 class="titular">Basado en tu última visita</h3>
            <div class="producto">
                <img src="img/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion"><b>Cafetera Moulinex</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion"><b>MacBoook Pro 2019</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion"></p><b>Samsung Galaxy S10</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-tv-samsung-smart.jpg" alt="imagen de SmarTV">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion"><b>SmartTV Samsung 43"</b></p>
                </div>
            </div>
        </section>
        <br />
        </div>
        <section>
            <h3 class="titular">Ofertas</h3>
            <div class="producto">
                <img src="img/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion"><b>Cafetera Moulinex</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion"><b>MacBoook Pro 2019</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion"></p><b>Samsung Galaxy S10</b></p>
                    <br />
                </div>
            </div>
            <div class="producto">
                <img src="img/img-tv-samsung-smart.jpg" alt="imagen de SmarTV">
                <div class="producto1">
                    <div class="icono-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <div class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion"><b>SmartTV Samsung 43"</b></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="foot">
            <div class="icono"><i class="fa-solid fa-credit-card"></i></div>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <br />
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
            <br />
            <div class="icono"><i class="fa-solid fa-gift"></i></div>
            <p><b>Envío gratis desde los $2.500</b></p>
            <br />
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            <br />
            <div class="icono"><i class="fa-solid fa-user-shield"></i></div>
            <p><b>Seguridad de principio a fin</b></p>
            <br />
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.</p>
            <br />
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>
    </footer>
</body>

</html>